{:identity/id "did:web:sonae.etzhayyim.com"
 :identity/actor "sonae"
 :identity/canonical-document "manifest.edn"
 :identity/external-did-document ".well-known/did.json"
 :identity/canonical-format :edn}
